/* Contacto */

.form {
    text-align: center;
    margin: 100px;
}

.title_contacto {
    margin: 0;
    text-align: center;
    color: $colorLetra;
    font-weight: bold;
    border: solid 3px black;
    height: 80px;

}

.subtitle_form {
    color: $colorLetra;
}

.form-control {
    color: #0b1004a9;
    font-weight: 400;
    border: 1px solid #83D80D;
    background: rgb(255, 255, 255);
    border-radius: 0px;
    margin: 15px 0px;
    height: 36px;
}

.btn {
    background-color: #487429;
    color: rgb(255, 255, 255);
    border: none;
    height: 35px;
    font-weight: bold;

    &:hover {
        border: 1px solid #83D80D;
    }


}
.map iframe {
    max-width: 100%;



}