/*Index*/
.title {
    color: $colorLetra;
    margin: 30px;
}

.carrousel {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    margin: 15px;
}

.slider-control {
    width: 50px;
    height: 50px;
}


.title_pd {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.productos_d {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: $bordePrincipal;
}
    .articulos_d {
        margin: 20px;
        display: flex;
    }


.title_marcas {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: $colorLetra;
}

.marcas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: $bordePrincipal;
}

    .laboratorios {
        margin: 25px;
        display: flex;
        border: solid 1px rgb(164, 187, 164);
    }
