/*Index*/
.title {
    color: $colorLetra;
    margin: 30px;
    font-size: xx-large;
    font-weight: bold;
    &:hover{
        color: #718355;
    }
}


.carrousel {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.image {
    margin: 15px;
    background-size: cover;
}

.slider-control {
    width: 50px;
    height: 50px;
}

.pd{
    background-color: #B5C99A;
}
.title_pd {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $colorLetra;
    margin: 50px;
    padding: 10px 10px;
    &:hover {
        text-transform: uppercase;
        text-decoration: underline;
        color: $colorLetra;
}
}

.productos_d {
    @include flex;
    border: $bordePrincipal;
    margin: 50px;
    padding: 10px 10px;
}
    .articulos_d {
        margin: 20px;
        display: flex;
        &:hover {
            background-color: rgb(164, 187, 164);

        }
    }
    

.test{
    background-color: #718355;
}
.title_marcas {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $colorLetra;
    margin: 50px;
    padding: 10px 10px;
    &:hover {
        text-transform: uppercase;
        text-decoration: underline;

    }
}

.marcas {
    @include flex;
    border: $bordePrincipal;
    margin: 50px;
    padding: 10px 10px;
}

    .laboratorios {
        margin: 25px;
        display: flex;
        border: groove 1px rgb(164, 187, 164);
        &:hover {
            background-color: rgb(164, 187, 164);

        }
    }
