/* Nosotros */
.title_nosotros {
    margin: $margenPrincipal;
    text-align: center;
    color: $colorLetra;
    font-weight: bold;
    border: solid 3px black;
    height: 80px;
}

.video_container {
    display: flex;
    justify-content: space-between;
}

.video {
    margin: 30px;
    border: solid 2px #CFE1B9;

}



.title_historia{
    margin: 30px;
    padding: $paddingPrincipal;
    text-align: start;
    text-decoration: underline;
    font-weight: bold;
    color: $colorLetra;
    
}

.title_objetivos {
    @extend .title_historia;
    background-color: #CFE1B9;
}

.title_vision {
    @extend .title_historia;
}

.historia {
    p {
    margin: 15px;
    border: $bordePrincipal;
    background-color: #CFE1B9;
}
}

.objetivos {
    p {
    margin: 15px;
    border: $bordePrincipal;
    background-color: #CFE1B9;
}
}


.vision {
    p {
    margin: 15px;
    border: $bordePrincipal;
    background-color: #CFE1B9;
}
}