$colorPrincipal: #B5C99A;
$fuentePrincipal: 'Work Sans', sans-serif;
$margenPrincipal: 0;
$paddingPrincipal: 0;
$colorLetra: rgb(0, 134, 40);
$footernavColor: rgba(255, 255, 255, 0.925);
$bordePrincipal: solid 1px black;
