$colorPrincipal: #718355;
$fuentePrincipal: 'Work Sans',
sans-serif;
$margenPrincipal: 0;
$paddingPrincipal: 0;
$colorLetra: #1b2012c5;
$headernavColor: #E9F5DB;
$footernavColor: #B5C99A;
$bordePrincipal: solid 1px black;

/* Mapa */
$estilos: (
    color: #0b1004a9,
    font-w: 400,
    borde: 1px solid #83d80db9,
    colorFondo: rgb(255, 255, 255),
    bordeRadio: 0px,
    margen: 15px 0px,
    altura: 36px,
);

/* Mixin */
@mixin flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
